body {
    background-color: bisque;
    background-image: url("https://media.giphy.com/media/fvmz3gCAip1M4/giphy.gif");
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Pacifico', cursive;

}

.pomodoro-estimate{
 font-weight: bold;
 color: #F44336 ;
 background-color: #000000 ;
 border-radius: 50px;
 font-size: 14px;
 padding: 5px 10px 5px 10px;
}

#add-new-todo-button{
 font-size: 20px;
 text-align: center;
 color: #FFF;
 outline: none;
 border-style: none;
 padding: 10px;
 border-radius: 3px;
 box-shadow: 2px 2px 1px #90A4AE ;
 display: block;
 background-color: #03A9F4 ;
 margin-top: 10px;
}

ul, li, a{
 text-decoration: none;
 list-style-type: none;
 padding: 10px;
 font-size: 29px;
 color:white;
 font-family: 'Indie Flower', cursive;
}

#add-new-todo-button:active{
 box-shadow: 1px 1px 1px #90A4AE ;
}

.completed-todo{
  text-decoration: line-through;
}